@import "../_mixins";

.container {
  @include container(block);
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100%;
  padding-bottom: 4em !important;

  .top,
  .bottom {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
  }

  .bottom {
    align-items: flex-start;
    justify-content: start;
    font-size: 16px;

    .info {
      margin: 0 auto !important;
    }
  }

  .locations {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    :not(:last-child) {
      margin-right: 3em;
    }
  }

  .logo {
    margin-top: 1em;
    padding: 1em 1.25em;
    border: 1px solid #ccc;
  }

  .links a:not(:last-child) {
    margin: 0 1em;
  }
}
