@import "../_mixins";

.primaryImage {
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  @include containerLeft();
  @include containerRight();
}

.right {
  @include containerVertical();
}
