@import "../_mixins";

.content {
  @include container();
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 4rem;

  img {
    width: 100%;
  }
}

.content404 {
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
  @include container();
}
