@import "../_mixins";

.content404 {
  flex-direction: column;
  margin-top: 8rem;
  margin-bottom: 8rem;
  @include container();
}

.parallaxC {
  height: 450px;
  width: 100%;
}

.grid {
  text-align: center;
}

.content {
  margin-top: 6em;
}
