@import "./_mixins";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 22px;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 58px;
  font-weight: 300;
  line-height: 1;
}

h2 {
  font-size: 48px;
  font-weight: 300;
  line-height: 1;
}

h3 {
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #c00000;
  text-decoration: none;
  cursor: pointer;
  transition: 0.3s;
}

@include media-breakpoint-down(sm) {
  h1 {
    font-size: 38px;
  }
}
