$sm-width: 577px;
$md-width: 769px;
$lg-width: 993px;
$xl-width: 1201px;

$padding-vertical: 1rem;

$sm-dn-padding-horizontal: 1rem;
$sm-md-padding-horizontal: 2rem;
$md-lg-padding-horizontal: 2rem;
$lg-xl-padding-horizontal: 4rem;
$xl-up-padding-horizontal: 8rem;

@mixin containerLeft($zero: false) {
  @include media-breakpoint-down(sm) {
    padding-left: $sm-dn-padding-horizontal;
    @if $zero == true {
      padding-left: 0;
    }
  }
  @include media-breakpoint-between(sm, md) {
    padding-left: $sm-md-padding-horizontal;
    @if $zero == true {
      padding-left: 0;
    }
  }
  @include media-breakpoint-between(md, lg) {
    padding-left: $md-lg-padding-horizontal;
  }
  @include media-breakpoint-between(lg, xl) {
    padding-left: $lg-xl-padding-horizontal;
  }
  @include media-breakpoint-up(xl) {
    padding-left: $xl-up-padding-horizontal;
  }
}

@mixin containerRight($zero: false) {
  @include media-breakpoint-down(sm) {
    padding-right: $sm-dn-padding-horizontal;
    @if $zero == true {
      padding-right: 0;
    }
  }
  @include media-breakpoint-between(sm, md) {
    padding-right: $sm-md-padding-horizontal;
    @if $zero == true {
      padding-right: 0;
    }
  }
  @include media-breakpoint-between(md, lg) {
    padding-right: $md-lg-padding-horizontal;
  }
  @include media-breakpoint-between(lg, xl) {
    padding-right: $lg-xl-padding-horizontal;
  }
  @include media-breakpoint-up(xl) {
    padding-right: $xl-up-padding-horizontal;
  }
}

@mixin containerVertical {
  @include media-breakpoint-up(lg) {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
  @include media-breakpoint-down(lg) {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
  @include media-breakpoint-up(xl) {
    padding-top: $padding-vertical;
    padding-bottom: $padding-vertical;
  }
}

@mixin container($display: flex) {
  display: $display;
  align-items: center;
  @include containerLeft();
  @include containerRight();
  @include containerVertical();
}

@mixin media-breakpoint-up($level) {
  @if $level == sm {
    @media (min-width: $sm-width) {
      @content;
    }
  } @else if $level == md {
    @media (min-width: $md-width) {
      @content;
    }
  } @else if $level == lg {
    @media (min-width: $lg-width) {
      @content;
    }
  } @else if $level == xl {
    @media (min-width: $xl-width) {
      @content;
    }
  }
}

@mixin media-breakpoint-down($level) {
  @if $level == sm {
    @media (max-width: $sm-width) {
      @content;
    }
  } @else if $level == md {
    @media (max-width: $md-width) {
      @content;
    }
  } @else if $level == lg {
    @media (max-width: $lg-width) {
      @content;
    }
  } @else if $level == xl {
    @media (max-width: $xl-width) {
      @content;
    }
  }
}

@mixin media-breakpoint-between($min, $max) {
  $min-width: null;
  $max-width: null;

  @if $min == md {
    $min-width: $md-width;
  } @else if $min == lg {
    $min-width: $lg-width;
  } @else if $min == xl {
    $min-width: $xl-width;
  } @else {
    $min-width: $sm-width;
  }

  @if $max == md {
    $max-width: $md-width;
  } @else if $max == lg {
    $max-width: $lg-width;
  } @else if $max == xl {
    $max-width: $xl-width;
  } @else {
    $max-width: $sm-width;
  }

  @media screen and (min-width: $min-width) and (max-width: $max-width) {
    @content;
  }
}
